[Unit]
Description=Golem
After=network.target hyperdrive.service

[Service]
Type=simple
User={{ golem_source_user }}
ExecStart={{ golem_source_path }}/venv/bin/python {{ golem_source_path }}/golemapp.py -d {{ golem_source_config_dir }} {{ golem_source_unit_extra_args }}
WorkingDirectory={{ golem_source_path }}/
Environment="LC_ALL=C.UTF-8"
Environment="LANG=C.UTF-8"
LimitNOFILE=65536
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
